# Dependencies
node_modules
npm-debug.log*

# Build output
# dist - commented out because we build locally and need to copy dist folder

# Development files
.vite
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# Editor files
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Testing
.nyc_output

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env.test

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Docker
Dockerfile
.dockerignore
README.md
